.categories
{
    .categoryCard
    {
        margin:2vw
    }
    .fab
    {
       position: fixed;
       bottom:2vh;
       left:2vw;
       background-color: #ff5959;
       color: white;
   
    }
}