#Main{
.blueBtn
{
    background-color: #22629a
}
.purpleBtn
{
    background-color: #834c69
}
.greenBtn
{
    background-color: #43af85
}
.orangeBtn
{
    background-color: #ff8f56
}
.largeBtn
{
    height: 20vh;
    width: 40%;
    margin: 0 5%;
    font-size: large;
    color: white;
}
}